<% title 'About' %>

<div class="span-16">

      <h3 class="artcatred"><%= yield(:title) %></h3>

			<p>
        Editors: <a href="http://www.hoggardwagner.com/">Barry Hoggard and James Wagner</a>
			</p>
      <!--
			<p>
				Listings Editor: <a href="http://hannahdaly.net/">Hannah Daly</a>
			</p>
      -->
			<p>
				Design: <a href="http://subsidiarydesign.com/">Subsidiary</a>
			</p>
			<p>
				ArtCat's primary focus is underknown galleries and artists.
			</p>
			<p style="padding-right: 10px">
				All content on this site is at our whim. An absence of a show does not necessarily mean we're not interested in seeing it.
			</p>
</div>
