<% title 'Contact' %>
<div class="span-15 append-1">

<h3 class="artcatred"><%= yield(:title) %></h3>

<div class="contactBlock">
Barry Hoggard<br />
Tristan Media LLC<br />
255 West 23rd Street, Suite 2HE<br />
New York, NY 10011<br />
<%= link_to "email", 'mailto:barry@tristanmedia.com' %><br />
twitter: <a href="http://twitter.com/ArtCatNY">ArtCatNY</a><br />
 <br/>
</div>

<% if false %>
<p>Exhibits should be submitted via <a class="artcatred" href="/submission">the submissions form</a> only. We do not list every submission, and we never list shows of galleries that forbid photography by the press or the public.</p>

<p>Exhibitions should be submitted at least two weeks before the opening date if possible.</p>

<ul class="ul-list">
<li><a href="/submission" class="artcatred">Submit an exhibit</a></li>
<li><%= link_to "Contact Form", comment_url %></li>
<li><%= link_to "Sponsor us", sponsor_url %></li>
</ul>

<% end %>

</div>
