<p>ArtCat is now an archive of all exhibitions on the site. There are <%= Neighborhood.count %> neighborhoods, <%= number_with_delimiter Location.count %> locations, and <%= number_with_delimiter Exhibit.count %> exhibitions from 2004 to 2012.</p>

<h4 class="artcatred">Neighborhoods</h4>

<ul>
  <% @nav_hoods.each do |hood| %>
    <li><%= link_to hood.name, hood, class: 'boldlink' %></li>
  <% end %>
</ul>
