<% title 'Legal Policies' %>

<div class="span-15 append-1">

  <h3 class="artcatred"><%= yield(:title) %></h3>

  <p><em>Effective October 1, 2012</em></p>

  <h2>Terms of Use</h2>

  <p>The content on this website is the property of <a href="http://www.tristanmedia.com/">Tristan Media LLC</a> or of its subscribers and others. It is protected by trademark, copyright, and other laws. Your use of this website is subject to applicable law and to these terms of use, which may change from time to time.</p>

  <h3>Trademark</h3>

  <p>ARTCAT and ARTCAL are registered and common-law trademarks, respectively, of Tristan Media LLC. Other product and company names may be trademarks of their respective owners. You may not use our trademarks without our prior written consent.</p>

  <h3>Copyright</h3>

  <p>The text, images, and layout of this website are protected under U.S. and international copyright law. Subject to exceptions for fair use, they may not be copied (including downloaded), modified, distributed, or displayed without our prior written consent.</p>
  <p>The original material created by us on the site is licensed under a Creative Commons License permitting <a href="http://creativecommons.org/licenses/by-nc/2.5/" title="Creative Commons Attribution-Noncommercial 2.5 Generic">non-commercial sharing with attribution</a>. When we reproduce a copyrighted image, we do so only to the extent necessary to comment on or discuss it, and we always include a link to the original source of the image. When you contribute content to our site, you retain ownership of the copyright, while granting permission to us to display and distribute it. You are responsible for the content of that material. We may, in our sole discretion, edit or delete any third-party material that we consider illegal, offensive, or otherwise inappropriate.</p>

  <h4>Notification of Copyright Infringement</h4>

  <p>If you believe that material on our website infringes your copyright, you may notify us under the Digital Millennium Copyright Act ("DMCA"), 17 U.S.C. ยง 512(c)(3), by sending the following information in writing (by postal mail or fax) to our copyright agent:</p>

  <p>Barry Hoggard<br />
  Tristan Media LLC<br />
  255 W. 23rd St., Suite 2HE<br />
  New York, NY 10011<br />
  tel: 347-455-1966<br />
  fax: 212-994-9635</p>

<ol>
<li>Identify the copyrighted work claimed to be infringed. If multiple copyrighted works at a single online website are covered by a single notification, provide a representative list of such works at that website.</li>
<li>Identify the material that you claim is infringing and that is to be removed, or access to which is to be disabled, and sufficiently describe its location on our website.</li>
<li>Provide information reasonably sufficient to permit us to contact you, such as an address, telephone number, and, if available, an e-mail address.</li>
<li>Include a statement that you have a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</li>
<li>Include a statement that the information in the notification is accurate, and that, under penalty of perjury, you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
<li>Sign the document, either on your own behalf, or, if authorized, on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ol>

<p>If you fail to comply with all of the requirements, your DMCA notification might be invalid. Under the DMCA, we may respond to valid notifications by disabling access to or removing allegedly infringing material, terminating the accounts of repeated infringers, and making good-faith efforts to contact alleged infringers so that they might make appropriate counter-notifications.</p>

<p>Before filing a notification, please carefully consider whether the use of copyrighted material at issue is protected by the "fair use" doctrine, as you could be liable for damages, including costs and attorney's fees, for a take-down notice if there is no infringing use.</p>

<h4>Counter-Notification</h4>

<p>If your material was removed (or made inaccessible), and you believe that it does not infringe, or that you have authorization for its use from the copyright owner, its agent, or the law, you may send a written counter-notification (by postal mail or fax) to our copyright agent, as follows:</p>

<ol>
<li>Identify the material and its prior location on our website.</li>
<li>Provide information reasonably sufficient to permit us to contact you, such as an address, telephone number, and, if available, an e-mail address.</li>
<li>Include a statement that you believe, under penalty of perjury, that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.</li>
<li>Include a statement that you consent to jurisdiction of the federal district court for the district where you reside (or of the Southern District of New York if you reside outside the United States), and that you will accept service of process from the person who provided notification under DMCA subsection (c)(1)(C), or an agent of such person.</li>
<li>Sign the document.</li>
</ol>

<p>Under the DMCA, we may reinstate the material in response to a proper counter-notification.  Please note that you could be liable for damages (including costs and attorney's fees) if you knowingly misrepresent that material is not infringing the copyrights of others.
</p>

<h3>Warranty and Liability</h3>

<p>This website is provided as is, and as available. We attempt to provide accurate information on this website. We nonetheless do not make any express or implied warranty of its accuracy or completeness, nor are we liable for errors or omissions. We disclaim all other warranties, express or implied, including those of merchantability and fitness for a particular purpose, and non-infringement. We will not be liable for direct, indirect, consequential, incidental, punitive, or other damages arising from your use of this website, which is solely at your own risk.</p>

<h2>Privacy Policy</h2>

<h3>Data Collected</h3>

<h4>Personal Data</h4>

<p>Personal data, also known as personally identifying information, identifies a specific individual, for example by name, address, telephone number, e-mail address, or credit card number. We receive and store personal data that you knowingly supply when you fill out a form on our site, such as to list an exhibition, make a comment or correction, or purchase our web-hosting services. We use this data only for these purposes (and to contact you about them, if needed).
</p>

<p>If you are a client of our web-hosting services, you will have access to your personal area of our web server through a password. You should protect it against unauthorized disclosure. We are not responsible for the misuse of your password.</p>

<p>If you subscribe to our e-mail list, you will receive announcements of events. The list is administered by a vendor, MailChimp. According to its <a href="http://www.mailchimp.com/page/privacy/">privacy policy</a>, MailChimp does not sell or unnecessarily disclose personal data to third parties.</p>

<p>Each announcement sent to subscribers will have a link in the message allowing you to update your personal data or to unsubscribe from the list. If you forward the message, the recipient(s) will not be added to the list. If you click on a link in the message, your e-mail address (and optional data) will be disclosed to us. We nonetheless will use that data only in the aggregate, such as to track the popularity of certain exhibits.</p>

<h4>Non-Personal Data</h4>

<p>Your web browser provides certain non-personal data, such as the IP (Internet Protocol) address of the computer you are using, to our server, so that it knows where to send the webpage you requested. Our web server may also collect the URL ("web address") of the website that you arrived from. While it might be possible to correlate this data with an individual, we do not do so. We use it in the aggregate, to study and improve how our website is used, to diagnose technical problems, and to maintain system security.</p>

<p>When you visit parts of our website, our web server sets a "cookie" (places it on the hard drive of your computer). A cookie is a string of alphanumeric text that identifies the computer that was used to visit a particular webpage. This cookie does not personally identify you. If you are a client, then a second cookie is set when you log in, to allow you to administer your website. You can configure your web browser to disable cookies, but doing so may impair your use of our website.</p>

<p>We use <a href="https://www.google.com/intl/en_US/dfp/info/welcome.html">Google Ad Manager</a> to place third-party advertisements on our website. Clicking on those advertisements will set cookies, to which we do not have access, nor do we know which ad a visitor clicked on. These cookies do not identify individual visitors to our website or to the linked websites. We also use web statistics services to monitor certain pages of our website and RSS feeds for the purpose of reporting website and RSS traffic, statistics, sponsorship click-throughs, and other activities on our website. When authorized by us, these services may use cookies, web beacons, and other monitoring technologies to compile anonymous statistics about visitors to our website. No personal data is collected by or transferred to these networks. For more information on how data is collected and used, please see their privacy policies:</p>

<ul class="ul-list">
<li><a href="http://www.google.com/privacy.html" title="Google Privacy Center">Google</a></li>
<li><a href="http://www.quantcast.com/docs/display/legal/Privacy+Policy" title="Privacy Policy - Legal -&nbsp;">Quantcast</a></li>
<li><a href="http://getclicky.com/terms">Clicky</a></li>
</ul>

<p>Our website uses Google Maps to allow you to conveniently locate a listed venue. When you visit our website, Google will set a cookie if your browser does not already have one from a previous visit (independent of our website) to any area of Google. We do not have access to these cookies. For a description of them, see the Google privacy policy.</p>

<h3>Data Disclosed</h3>

<p>Tristan Media does not disclose personal data, except as described in this privacy policy. If you purchase our web-hosting services with a credit card, your order will be processed by third parties, who naturally will have access to the personal data that you supplied. According to the privacy policy of Authorize.Net, the merchant service provider used by Tristan Media LLC, personal data is used only to process payment transactions, and this data is shared with other third parties (such as banks and credit card processors) only to the extent necessary for Authorize.Net to deliver payment processing services. See their <a href="http://www.authorize.net/company/privacy" title="Authorize.Net - Privacy Policy">privacy policy</a> for further information.</p>

<p>With the few exceptions described below, we do not give, lend, rent, or sell personal data. We may disclose personal data as follows:
</p>

<ul class="ul-list bullet">
<li>with your express consent</li>
<li>to the extent needed for a third party process your payment or fulfill your submission of an ad or listing</li>
<li>to comply with the law</li>
<li>to enforce our other policies and agreements</li>
<li>to protect our rights and property, our customers, and the public</li>
</ul>

<p>We may provide aggregate anonymous data to prospective partners, sponsors, and other third parties. We may transfer your personal data to a third party as part of a transfer of business assets. The data would continue to be covered by the promises in this privacy policy.</p>

<h3>Security</h3>

<p>We follow generally accepted industry standards to protect the personal data submitted to us, both in transmission and after receipt. When we implement payment by credit card, the credit card number that you enter on our website will be encrypted and transmitted through SSL (Secure Sockets Layer). No method of transmission over the Internet, or of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal data, we cannot guarantee its absolute security.</p>

<h3>External Websites</h3>

<p>This website links to external websites (including those of our web-hosting clients), which have their own privacy practices. Tristan Media is not responsible for them. We urge you to review the privacy policy of any website that you visit.
</p>

<h3>Children</h3>
<p>This website is not directed at children under the age of 13. In compliance with the Children's Online Privacy Protection Act, we will not knowingly collect or use personal data from anyone under the age of 13.
</p>

<h3>Access</h3>

<p>If you would like to verify or change the personal data that we have collected from you, please <a href="/contact">contact</a> us.
</p>

<h3>Revision</h3>

<p>We may revise this privacy policy from time to time. If our practices for collecting and using personal data change, we will give you the choice not to have the data used for any purpose other than that for which you originally supplied it. You should periodically read this privacy policy to learn of any revisions. Your use of the website at any time is deemed acceptance of the policy then in effect.
</p>

<h3>Contact</h3>

<p>If you have any questions or comments about this privacy policy or the website, or if you believe that we have acted inconsistently with this policy, please <a href="/contact">contact</a> us. We will try to address your concern.
</p>

</div>
